          <link rel="stylesheet" href="/css/grid.css"/>
    {{> navbar }}
    <h2 class="relleno">
            <div id=one></div>
    </h2>
    <main class="jijo" id="voxes">


      <a href="/about" class=box id=inicio>        <div class="displayTags">
                <div class="categoriaDisplay2 tagAmarilloCepillo">
                  <div class="bordeVox">  </div>
                  <p>Ayuda y reglas</p>
                </div>


              </div><div class="titulo row-fluid">¿Nuevo en Voxer?</div></a>


  </div>
  <script type="text/javascript">

  var voxTitle = [];
  var voxId = [];
  var voxCategory = [];
  var voxComments = [];
  var voxFilename = [];
  {{#each boxs}}
  voxTitle.push("{{this.title}}")
  voxId.push("{{this.id}}")
  voxCategory.push(' <div class="bordeVox">  </div><div class="categoriaDisplay"><p>{{this.category}}</p></div> {{#ifCond this.dados true}}  <div class="bordeVox">  </div><i class="fas fa-dice noshadowicon"></i>{{else}}{{/ifCond}} {{#ifCond this.video true}}<div class="bordeVox">  </div><i class="fab fa-youtube noshadowicon"></i>{{else}}{{/ifCond}}')


  voxComments.push("{{this.comments}}")
  voxFilename.push({{#ifCond this.videoUrl true}}'https://i.ytimg.com/vi/{{this.filename}}/hqdefault.jpg' {{else}} {{#if this.filenameCompressed}} '/backgrounds/{{this.filenameCompressed}}' {{else}}'/backgrounds/{{this.filename}}' {{/if}} {{/ifCond}})
  {{/each}}



    function loadVox() {
      for (var i = 0; i < 17; i++) {
        // i < x - sticky count
        if (voxTitle[i] == undefined) {

        } else {
          document.getElementById("voxes").innerHTML += (        '<a href="/vox/' + voxId[i] +'" class="box" id="jijo' + voxId[i] +'" style=background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.25)),url(' + voxFilename[i] + ')> <div class="row-fluid"><div class="displayTags">' + voxCategory[i] +'<div class="comment2vox"><i class="fas fa-comment commentvox"></i><p class="commentvox">' + voxComments[i] +'</p></div></div><div class="division"><div class="titulo row-fluid">' + voxTitle[i] +'</div></div> </div></a>');
        }
      };
    }
    loadVox();

var x1 = 18
var x2 = 30

function loadVoxScroll() {
  for (var i = x1; i < x2; i++) {
    if (voxTitle[i] == undefined) {
    } else {
      document.getElementById("voxes").innerHTML += (        '<a href="/vox/' + voxId[i] +'" class="box" id="jijo' + voxId[i] +'" style=background-image:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.25)),url(' + voxFilename[i] + ')> <div class="row-fluid"><div class="displayTags"><div class="categoriaDisplay"><p>' + voxDate2[i] +'</p></div><div class="bordeVox">  </div><div class="categoriaDisplay"><p>' + voxCategory[i] +'</p></div><div class="comment2vox"><i class="fas fa-comment commentvox"></i><p class="commentvox">' + voxComments[i] +'</p></div></div><div class="division"><div class="titulo row-fluid">' + voxTitle[i] +'</div></div> </div></a>');

    }
  };

}
    $(window).scroll(async function() {
   if(window.scrollY + window.innerHeight >= document.documentElement.scrollHeight) {
     await setTimeout(loadVoxScroll(), 2000);
       window.x1 += 16; window.x2 += 16;

   }
});

  </script>

        <style>
        .BOTON {
          color: white;
        }
        .titulo {
          color: white;
        }
        .BOTON:hover {
          color: white;
        }

        </style>
        <style media="screen">
          .linq {
        color: black;
      }
        </style>
