

<!Llamo al CSS>

          <link rel="stylesheet" href="/css/grid.css"/>


<!Cajas>

    {{> navbar }}

<!-- Modals -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      {{#if user}}
      <div class="modal-header">
        <h3 class="modal-title">¿Que vas a vender {{user.name}}?</h3>
      </div>
      {{else}}
      <div class="modal-header">
        <h3 class="modal-title">¿Que vas a vender?</h3>

      </div>
      {{/if}}



      <div class="card-header">
        <form action="publicarAnuncio" method="post" enctype="multipart/form-data">
          <div>
            <input type="text" name="title" class="form-control tituloDeAnuncio" placeholder="Inserte un titulo" autofocus>
            <input type="number" name="price" min="0" max="10000000" step="0.1" class="form-control precio" placeholder="Precio">
            <!-- File input field -->
            <input class="distancia" type="file" id="file" name="imgUrl" onchange="return fileValidation()"/>

            <!-- Image preview -->
            <div class="distancia" id="imagePreview"></div>
          </div>

          <div class="form-group">
            <textarea name="description" class="form-control" placeholder="Describe tu anuncio"></textarea>
          </div>
          <div class="form-group">
            <input type="text" name="contact" class="form-control contacto" placeholder="Contacto (Un numero, una red social, etc)">
            <select class="form-control contacto" name="province">
              <option value="Buenos Aires">Buenos Aires</option>
              <option value="CABA">CABA</option>
              <option value="Catamarca">Catamarca‎</option>
              <option value="Chaco" >Chaco‎</option>
              <option value="Chubut" >Chubut</option>
              <option value="Córdoba" >Córdoba</option>
              <option value="Corrientes" >Corrientes‎</option>
              <option value="Entre Ríos">Entre Ríos‎</option>
              <option value="Formosa">Formosa‎</option>
              <option value="Jujuy" >Jujuy</option>
              <option value="La Pampa">La Pampa‎</option>
              <option value="La Rioja">La Rioja</option>
              <option value="Mendoza">Mendoza</option>
              <option value="Misiones">Misiones</option>
              <option value="Neuquén">Neuquén‎</option>
              <option value="Río Negro">Río Negro‎</option>
              <option value="Salta">Salta‎</option>
              <option value="San Juan">San Juan</option>
              <option value="San Luis">San Luis</option>
              <option value="Santa Cruz">Santa Cruz</option>
              <option value="Santa Fe" >Santa Fe‎</option>
              <option value="Santiago del Estero">Santiago del Estero</option>
              <option value="Tierra del Fuego" >Tierra del Fuego</option>
              <option value="Tucumán">Tucumán‎</option>
            </select>
          </div>


          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Crear anuncio</button>

          </div>
        </form>
      </div>
      {{#if user}}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
      {{else}}
      <div class="modal-footer">
      <h6>¿Nuevo en venditio? <a href="/users/signup">registrate aca!         </a></h6> <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
      {{/if}}
    </div>

  </div>
</div>


<div id="login" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Ingresar</h3>

      </div>
      <form action="/users/signin" method="POST">

        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email" value={{email}} >


        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Contraseña" >

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
        </div>
      </form>
      <div class="modal-footer">
        <h6>¿Nuevo en venditio? <a href="#" data-toggle="modal" data-target="#register">registrate aca!         </a></h6> <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>

<div id="register" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Registro</h3>

      </div>
      <form action="/users/signup" method="POST">
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Nombre de usuario" value={{name}} >

        </div>
        <div class="form-group">
          <input type="email" class="form-control" name="email" placeholder="Email" value={{email}} >


        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="password" placeholder="Contraseña" >

        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="confirmPassword" placeholder="Confirmar Contraseña" >

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div>

  </div>
</div>























      <!Relleno por sobre la navbar>
    <h2 class="relleno">
            <div id=one></div>
    </h2>
    <main class="jijo">


      <a href="/about" class=box id=inicio><div>¿Que es venditiō?</div></a>
      {{#each boxs}}
      <a href="#" class="box" id="jijo{{_id}}" > <div class="row-fluid">
        <form class="" action="/delete/{{_id}}?_method=DELETE" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger btn-sm BOTON" type="submit">Borrar</button>
        </form>
        <form class="" action="/edit/{{_id}}">
         <button  class="btn btn-warning btn-sm BOTON">Editar</button>
        </form>

        <div class="titulo">{{title}}</div></div></a>

      <style media="screen">
        #jijo{{_id}} {
          background-image: url("/backgrounds/{{filename}}");
        }


      </style>
        {{else}}
        <div class="card-body">
          <p>No hay anuncios con este nombre.</p>
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Podes crear un anuncio haciendo click <a href="#" class="linq" data-toggle="modal" data-target="#myModal"><strong>aca!</a></strong>

        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

        </div>
        {{/each}}



      <style>
      .BOTON {
        color: white;
      }
      .titulo {
        color: white;
      }
      .BOTON:hover {
        color: white;
      }

      </style>
      <style media="screen">
        .linq {
      color: black;
    }
      </style>

      <!ESTILOS>
      <style>
        .distancia {
          padding: 2%;
        }
        .distancia img {
          max-width: 100%;
          margin-left: auto;
          margin-right: auto;
        }
        .tituloDeAnuncio {
          max-width: 60%;
          float:left;
          margin-right: 5%;

        }
        .precio {
          max-width: 30%;
          float:left;
          padding-left: 5%;

        }
      }
      .contacto {
        max-width: 100%;
        float:left;
        padding-left: 5%;

      }

      </style>

<script type="text/javascript">
function fileValidation(){
    var fileInput = document.getElementById('file');
    var filePath = fileInput.value;
    var allowedExtensions = /(.jpg|.jpeg|.png|.gif)$/i;
    if(!allowedExtensions.exec(filePath)){
        alert('Please upload file having extensions .jpeg/.jpg/.png/.gif only.');
        fileInput.value = '';
        return false;
    }else{
        //Image preview
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function(e) {
                document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
            };
            reader.readAsDataURL(fileInput.files[0]);
        }
    }
}


</script>
