{{> modals }}
{{>navbar}}




          <link rel="stylesheet" href="/css/styleee.css"/>


<div class="row no-gutters jijo">

  <div class="col-md-6 no-gutters">
    <div class="leftside">

      <div class=" barra2 barraCategory">

                          <div class=" textoBarra perfil">
                               <p class="perfiltext"><a href="/voxCategory/{{box2.category}}">{{box2.categoryFiltered}}</a></p>

                              <div class="aaaa23"></div>

                          </div>

        </div>


        <div class="barra2">
                  <div class="barra">
                            <div class="textoBarra opciones">
                            <div style="float:right;" class="aaaa23 opcionesVox"> <p class="opcionesVox2">Aca irian las opciones de los voxs</p> </div><div class="aaaa23 iniciadoPor"> <p class="iniciadoPorAnon"><img src="/flagGif/{{box2.flag}}.gif" alt=""> | {{box2.date2}} </p> </div>
                            </div>
                    </div>
          </div>





<div class="commentListUpper2">

{{#ifCond user.rank "admin"}}
<form action="/updateCategory/{{box2._id}}?_method=PUT" method="post">
  <input type="hidden" name="_method" value="PUT">
<div class="commentList commentList2" > <div class="comment comment2 ">  <div class="commentContent commentContent2"><select name="category" id=""  placeholder="Categoria">
<option >Categoria</option>
<option value="ANM">/Anime/</option>
<option value="ART">/ART/</option>
<option value="AUT">/Autos/</option>
<option value="CIE">/Ciencia/</option>
<option value="CNJ">/Consejos/</option>
<option value="CYTV">/Cine Y TV/</option>
<option value="DEP">/Deportes/</option>
<option value="DES">/Descargas/</option>
<option value="ECO">/Economia/</option>
<option value="GMR">/Juegos/</option>
<option value="HIS">/Hispanos/</option>
<option value="HIS">/Historias/</option>
<option value="HMR">/Humor/</option>
<option value="HUM">/Humanidades/</option>
<option value="INT">/Internacional/</option>
<option value="ITA">/Italiani/</option>
<option value="LIT">/Literatura/</option>
<option value="LUG">/Lugares/</option>
<option value="MUS">/Musica/</option>
<option value="NOT">/Noticias/</option>
<option value="OFF">/General/</option>
<option value="OMN">/Omniverso/</option>
<option value="PAR">/Paranormal/</option>
<option value="POL">/Politica/</option>
<option value="PRG">/Preguntas/</option>
<option value="PRG">/Preguntas/</option>
<option value="SMFG">/Samefag/</option>
<option value="TEC">/Tecnologia/</option>
<option value="UFF">/Random/</option>
<option value="UMA">/Gastronomia/</option>
<option value="WEBM">/WEBM/</option>
<option value="YTB">/Youtube/</option>

</select></div></div><div class="comment comment2  nopadding">  <div class="commentContent commentContent2"> <button class="" type="submit" value="DELETE"><i class="fas fa-wrench"></i></button></div></div>          </div>

</form>
<form name="myForm" id="myForm" method="POST" action="/delete/{{box2._id}}?_method=DELETE">
<input type="hidden" value="{{box2._id}}" name="std_id">
</form>
<div class="comment comment2 comment3">  <div class="commentContent commentContent2"><button id="voxDelete"> <i class="fas fa-times icono2"> </i> </button> </div></div>
{{else}}
{{/ifCond}}




</div>



        <article class="anuncioBox">
                                <figure class="imagen2">
                    <div class=" imagen">

                          {{#ifCond box2.video true}}
                          {{#ifCond box2.videoUrl true}}
                          <a href="https://www.youtube.com/watch?v={{box2.filename}}" >
                          <iframe src="https://www.youtube.com/embed/{{box2.filename}}"></iframe>
                          <p class="boxfile" >https://www.youtube.com/watch?v={{box2.filename}}</p>
                          </a>
                          {{else}}
                          <iframe src="/backgrounds/{{box2.filename}}"></iframe>
                          {{/ifCond}}
                          {{else}}
                          <a href="/vox/{{box2.id}}/comment/img/{{box2.filename}}" >
                            <img src="/backgrounds/{{box2.filename}}">
                          </a>
                            {{/ifCond}}

                                                                                </div>
                                    </figure>
                                <header class="texto">
                    <h1 itemprop="name" class="tituloAnuncio">{{box2.title}}</h1>
                    <div class="descripcionAnuncio">{{{box2.description}}}</div>
                </header>
            </article>
    </div>
  </div>
  <div class="col-md-6 no-gutters" >
    <div class="rightside" id="divvox">

      <div class="barra2 form-group aeae2">
        <form action="/vox/{{box2.id}}/comment" method="post" enctype="multipart/form-data">
          <div class="barra">
                    <div class="textoBarra aeae">
                        <div class="barra"> <textarea name="comentario" rows="6" cols="80" class="aeae23 textarea2" id="message" placeholder="Escribi un comentario."></textarea>
              <div class="distancia" id="imagePreview2"></div>
                        </div>
                    </div>
                    <input type="file" id="fileComment" hidden="hidden" name="imgUrl2" onchange="return fileValidation2()">
                    <input type="text" name="videoUrl" hidden="hidden" id="videoUpload">
                <button type="submit" class="btn btn1" id="send" >Comentar</button><span class="btn btn1" id="btnUpload"><i class="fas fa-upload"></i> </span><span class="btn btn1" id="btnUpload2"><i class="fas fa-link"></i></span>
            </div>
        </form>

        </div>
      <div class="barra2 aeae1" >
                <div class="barra">
                          <div class="textoBarra">
                              <div class="barra text-center comentariovox" > Comentarios({{box2.comments}}) </div>
                          </div>

                  </div>
      </div>
      <div id="commentListId">

      </div>
      {{#each filteredComment}}
      <div class=commentList id=commentList> <div class='commentvox'><div class=commentAvatar> {{#ifCond ../box2.dados false}}<div class="{{this.numero}} anonBox anonText"> ANON </div> {{else}}<div class="{{this.numero}} anonText dados"> {{this.dado}} </div>{{/ifCond}}  </div>
      <div class=commentBody><div class=commentMetadata><div class=commentsTag unselect>
        <span class=author>{{this.name}}</span> <p class="tagComment"  id="{{this.tagId}}">{{this.tagId}}</p> {{#ifCond ../box2.ip this.commentIp}}
  <p class="tagComment marginleftt">OP</p>
  {{else}}
  <p class="tagComment marginleftt">ANON</p>
  {{/ifCond}} <div class="flag"> <img src="/flagGif/{{this.flag}}.gif" alt=""></div>  </div> <div class="timeComment">{{this.date2}}</div> </div>
      <div class=commentContent>                                  {{#if filename}}<figure class="imagen2 imagenComment"><span class=" imagen imagenComment2"> {{#ifCond this.video true}}{{#ifCond this.videoUrl true}}<a href="https://www.youtube.com/watch?v={{this.filename}}" ><iframe src="https://www.youtube.com/embed/{{this.filename}}"></iframe><p class="boxfile" >https://www.youtube.com/watch?v={{this.filename}}</p></a>{{else}}
<iframe src="/backgrounds/{{this.filename}}"></iframe>{{/ifCond}}{{else}}<a href="/vox/{{this.id}}/comment/img/{{box2.filename}}" ><img src="/backgrounds/{{this.filename}}"></a>{{/ifCond}}</span> </figure> {{else}} {{/if}}
        {{{this.comentario}}}</div></div></div></div>

      <script type="text/javascript">
      function tagScript{{this.tagId}}(a) {
        var s = $('#{{this.tagId}}').parent().parent().parent().parent().parent().html().replace(/id="{{this.tagId}}"/g, ' ');
        $('#commentListId').append("<div class='div-to-display'>" + s + "</div>");
      }
      function tagScriptOut{{this.tagId}}(a) {
        var s = $('#{{this.tagId}}').parent().parent().parent().parent().parent().html();
        s = "<div class='div-to-display'>" + s + "</div>"
        document.getElementById('commentListId').innerHTML = '';

      }
    document.getElementById("{{this.tagId}}").onclick =  function () {
        document.getElementById("message").value += '>>{{this.tagId}} \n';
        $(this.hash).css('background', 'green');
      }
      </script>
      {{/each}}

      <div class="aaa" id="comentar">
      </div>
    <p id="{{box2.id}}"></p>
    </div>


      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

{{#ifCond user.rank "admin"}}
document.getElementById("voxDelete").onclick = function() {
  var form = document.forms["myForm"];
  swal({
    title: "¿Seguro sucio?",
    text: "Una vez que borres el vox no se va a poder recuperar",
    icon: "warning",
  buttons: {
    cancel: "Cancelar",
    catch: {
      text: "Eliminar",
      value: "catch",

    },
    Banear: true,

  },
})
.then((value) => {
  switch (value) {

    case "Banear":
    swal({
      title: "Añadi una justificacion del baneo",
      text: "Esto es para saber si un usuario fue baneado injustamente o no",
      content: "input",
      icon: "warning",
      buttons: ["No", "Borrar"],
      dangerMode: true,
    }).then((willDelete) => {
      if (willDelete) {

        $('#myForm').append('<input type="hidden" name="reason" value="' + willDelete + '"  />');
        $('#myForm').append('<input type="hidden" name="type" value="ban"  />');
          $('#myForm').submit();

      }
    });
      break;

    case "catch":
      swal({
        title: "Añadi una justificacion de la eliminacion",
        text: "Esto es para saber si el vox fue borrado injustamente o no",
        content: "input",
        icon: "warning",
        buttons: ["No", "Borrar"],
        dangerMode: true,
      }).then((willDelete) => {
        if (willDelete) {

          $('#myForm').append('<input type="hidden" name="reason" value="' + willDelete + '"  />');
          $('#myForm').append('<input type="hidden" name="type" value="delete"  />');
            $('#myForm').submit();

        }
      });
      break;

    default:
      swal("Ta bien");
  }
});
};
{{else}}
{{/ifCond}}

document.getElementById("btnUpload2").addEventListener("click", function linkModal() {
  swal({
    title: 'Ingresa el link del video',
    text: 'Por ahora solo se soportan videos de Youtube',
    content: "input",
    button: {
      text: "Subir",
      closeModal: false,
    },
  })
  .then(name => {
    var name2 = name.replace(/^(https\:\/\/www.youtube.com\/watch\?v=)/g, "");
    if (!name) {
      swal({
        title: 'No ingresaste ningun texto',
icon: "error",
      })
    } else if (name2 == name) {
      swal({
        title: 'Asegurate de subir un video de Youtube',
        text: "Tiene que contener lo siguiente: https://www.youtube.com",
icon: "error",
      })
    }
    else {
      name2 = name2.substring(0, 11);
      $("#videoUpload").val(name);
      document.getElementById('imagePreview2').innerHTML = '<iframe src="https://www.youtube.com/embed/'+ name2 +'"></iframe>';
      swal.close();
    }
  });
});

document.getElementById("btnUpload").addEventListener("click", function(){
document.getElementById("fileComment").click();
})
function fileValidation2(){
var fileInput = document.getElementById('fileComment');
var filePath = fileInput.value;
var allowedExtensions = /(.jpg|.jpeg|.png|.gif|.webm|.mp4)$/i;
if(!allowedExtensions.exec(filePath)){
  swal('Archivo no soportado.', 'Podes subir los siguientes formator de archivos .jpeg / .jpg / .png / .gif / .mp4 / .webm' , 'error');

    fileInput.value = '';
    return false;
}else{
    //Image preview
    if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('imagePreview2').innerHTML = '<img src="'+e.target.result+'"/>';
        };
        reader.readAsDataURL(fileInput.files[0]);
    }
}
}
</script>
              <script type="text/javascript" src="/js/chat.js"></script>
