
<link rel="stylesheet" href="/css/style.css"/>
<a class="float" id="navbardesp" ><i class="fas fa-bars my-float"></i></a>

<div class="fademe" onclick="closeNav()"></div>



  <nav class="navbar">
    <ul class="navbar-nav">
      <li class="logo">
        <a href="/" class="nav-link">
          <span class="link-text logo-text">voxer</span>
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="angle-double-right"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 448 512"
            class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
          >
            <g class="fa-group">
              <i class="fas fa-angle-right"></i>
            </g>
          </svg>
        </a>
      </li>
      {{#if user}}
      <li class="nav-item" >
        <a href="/users/logout" class="nav-link" >
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="space-station-moon-alt"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
          >
          <g class="fa-group">
            <i class="fas fas1  fa-user-times"></i>




          </g>
          </svg>

          <span class="link-text">Cerrar sesion</span>
        </a>
      </li>
      {{else}}
      <li class="nav-item">
        <a href="#" class="nav-link" id="ingresar" data-toggle="modal" onclick="closeNav()"  data-target="#login">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="cat"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-cat fa-w-16 fa-9x"
          >
          <g class="fa-group">
            <i class="fas fas1 fa-user"></i>
          </g>
          </svg>
          <span class="link-text">Ingresar</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link" id="registro" data-toggle="modal" onclick="closeNav()"  data-target="#register">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="alien-monster"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
            class="svg-inline--fa fa-alien-monster fa-w-18 fa-9x"
          >
          <g class="fa-group">
            <i class="fas fas1 fa-user-plus"></i>


          </g>
          </svg>
          <span class="link-text">Registrarse</span>
        </a>
      </li>
      {{/if}}
      <li class="nav-item">
        <a href="#" class="nav-link" id="venta" data-toggle="modal" onclick="closeNav()"  data-target="#myModal">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="space-station-moon-alt"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
          >
          <g class="fa-group">
            <i class="fas fas1 fa-plus"></i>




          </g>
          </svg>

          <span class="link-text">Crear vox</span>
        </a>
      </li>

      <li class="nav-item">
        <a href="#" class="nav-link" id="venta" onclick="closeNav(); searchModal()">
          <svg
            aria-hidden="true"
            focusable="false"
            data-prefix="fad"
            data-icon="space-station-moon-alt"
            role="img"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
            class="svg-inline--fa fa-space-station-moon-alt fa-w-16 fa-5x"
          >
          <g class="fa-group">
            <i class="fas fa-search"></i>




          </g>
          </svg>

          <span class="link-text">Buscar vox</span>
        </a>
      </li>

      <li class="nav-item" id="themeButton">

      </li>
    </ul>
  </nav>





<script type="text/javascript">
function searchModal() {
  swal({
    title: 'Ingresa el nombre del vox',
    text: 'Acordate que la busqueda puede variar dependiendo de los caracteres.',
    content: "input",
    button: {
      text: "Buscar",
      closeModal: false,
    },
  })
  .then(name => {
    if (!name) throw null;

    window.location.replace(`/voxSearch/${name}`);
  })

}

</script>











































  <!-- Modals -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        {{#if user}}
        <div class="modal-header">
          <h3 class="modal-title">Crea tu vox, {{user.name}}!</h3>
        </div>
        {{else}}
        <div class="modal-header">
          <h3 class="modal-title">Crea tu vox!</h3>

        </div>
        {{/if}}



        <div class="card-header">
          <form action="/publicarAnuncio" method="post" enctype="multipart/form-data">
            <div>
              <input type="text" name="title" class="form-control tituloDeAnuncio" minlength="0" maxlength="50" placeholder="Inserte un titulo" autofocus> <br> <br>
              <input class="video_question" type="checkbox" name="video_question" value="1" /> Subir video de youtube.
<div id="videoUrl">
  <input type="text" name="videoUrl" id="videoUrl2" class="form-control tituloDeAnuncio longitud2 " minlength="0" maxlength="50" placeholder="Ej: https://www.youtube.com/watch?v=Kc506G9gRp0">   <span class="btn btn-primary " onclick="YTverification()">Verificar</span>
</div>
              <input class="distancia" type="file" id="file" name="imgUrl" onchange="return fileValidation()"/>

              <!-- Image preview -->
              <div class="distancia" id="imagePreview"></div>
            </div>

            <div class="form-group">
              <textarea name="description" class="form-control" placeholder="Describí tu vox"></textarea>
            </div>
            <div class="form-group">
              <select class="form-control contacto" name="category">
                <option value="CategorySelect">Selecciona la categoria</option>
                <option value="ANM">/Anime/</option>
                <option value="ART">/ART/</option>
                <option value="AUT">/Autos/</option>
                <option value="CIE">/Ciencia/</option>
                <option value="CNJ">/Consejos/</option>
                <option value="CYTV">/Cine Y TV/</option>
                <option value="DEP">/Deportes/</option>
                <option value="DES">/Descargas/</option>
                <option value="ECO">/Economia/</option>
                <option value="GMR">/Juegos/</option>
                <option value="HIS">/Hispanos/</option>
                <option value="HIS">/Historias/</option>
                <option value="HMR">/Humor/</option>
                <option value="HUM">/Humanidades/</option>
                <option value="INT">/Internacional/</option>
                <option value="ITA">/Italiani/</option>
                <option value="LIT">/Literatura/</option>
                <option value="LUG">/Lugares/</option>
                <option value="MUS">/Musica/</option>
                <option value="NOT">/Noticias/</option>
                <option value="OFF">/General/</option>
                <option value="OMN">/Omniverso/</option>
                <option value="PAR">/Paranormal/</option>
                <option value="POL">/Politica/</option>
                <option value="PRG">/Preguntas/</option>
                <option value="PRG">/Preguntas/</option>
                <option value="SMFG">/Samefag/</option>
                <option value="TEC">/Tecnologia/</option>
                <option value="UFF">/Random/</option>
                <option value="UMA">/Gastronomia/</option>
                <option value="WEBM">/WEBM/</option>
                <option value="YTB">/Youtube/</option>
              </select>
            </div>


            <div class="form-group">
              <button class="btn btn-primary btn-block" type="submit">Crear vox</button>

            </div>
          </form>
        </div>
        {{#if user}}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
        {{else}}
        <div class="modal-footer">
        <h6>¿Nuevo en voxer? <a href="#" data-toggle="modal" onclick="closeNav()"  data-target="#register">registrate aca!         </a></h6> <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
        {{/if}}
      </div>

    </div>
  </div>


  <div id="login" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Ingresar</h3>

        </div>
        <form action="/users/signin" method="POST">

          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" value={{email}} >


          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Contraseña" >

          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Ingresar</button>
          </div>
        </form>
        <div class="modal-footer">
          <h6>¿Nuevo en voxer? <a href="#" data-toggle="modal" onclick="closeNav()"  data-target="#register">registrate aca!         </a></h6> <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>

  <div id="register" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Registro</h3>

        </div>
        <form action="/anonAuth" method="POST" id="formCaptcha">
          <div class="form-group">
            <input type="text" class="form-control" id="nameCaptcha" name="name" placeholder="Nombre de usuario" value={{name}} >

          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Email" value={{email}} >


          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Contraseña" >

          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="confirmPassword" placeholder="Confirmar Contraseña" >

          </div>
                <div class="g-recaptcha" name="captcha" data-sitekey="6LdElwEaAAAAAAFFljKBKBV5EnIyOHvp16DyAEwz"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
          </div>
        </form>

<script type="text/javascript">
document.getElementById("formCaptcha").addEventListener("submit",
submitForm);
function submitForm(e) {
  e.preventDefault();
  const captcha = document.querySelector("#g-recaptcha-response").value;

fetch("/anonAuth", {
  method: 'POST',
  headers: {
    'Accept': "application/json, text/plain, */*",
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({"captcha": captcha})
})
.then((res) => res.json())
.then((data) => {swal(data.text);})
}
</script>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>


  <style>
    .distancia {
      padding: 2%;
    }
    .distancia img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    .tituloDeAnuncio {
      max-width: 60%;
      float:left;
      margin-right: 5%;

    }
    .precio {
      max-width: 30%;
      float:left;
      padding-left: 5%;

    }
  }
  .contacto {
    max-width: 100%;
    float:left;
    padding-left: 5%;

  }

  </style>
  <script type="text/javascript">

  </script>
<script type="text/javascript">

var numeroNav = 0;

  $('#navbardesp').click(function() {

    if (numeroNav == 0) {
      $(".navbar").addClass('animated');
      $(".fademe").addClass('animated');
      $(".float").addClass('hiddenMenu');
      numeroNav += 1
    } else {

      $(".navbar").removeClass('animated');
      $(".fademe").removeClass('animated');
      $(".float").removeClass('hiddenMenu');

      numeroNav = 0;
    }
});

function closeNav() {
  $(".navbar").removeClass('animated');
  $(".fademe").removeClass('animated');
  $(".float").removeClass('hiddenMenu')
  numeroNav = 0;
}

$("#videoUrl").hide();
$(".video_question").click(function() {
    if($(this).is(":checked")) {
        $("#videoUrl").show();
        $("#file").hide();
    } else {
      $("#videoUrl").hide();
      $("#file").show();
    }
});

function fileValidation(){
var fileInput = document.getElementById('file');
var filePath = fileInput.value;
var allowedExtensions = /(.jpg|.jpeg|.png|.gif|.webm|.mp4)$/i;
if(!allowedExtensions.exec(filePath)){
  swal('Archivo no soportado.', 'Podes subir los siguientes formator de archivos .jpeg / .jpg / .png / .gif / .mp4 / .webm' , 'error');

    fileInput.value = '';
    return false;
}else{
    //Image preview
    if (fileInput.files && fileInput.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            document.getElementById('imagePreview').innerHTML = '<img src="'+e.target.result+'"/>';
        };
        reader.readAsDataURL(fileInput.files[0]);
    }
}
}
function YTverification(){
  name = document.getElementById("videoUrl2").value
  var name2 = name.replace(/^(https\:\/\/www.youtube.com\/watch\?v=)/g, "");

  if (!name) {
    document.getElementById('imagePreview').innerHTML = '<p>No subiste ningun video</p>';

  } else if (name2 == name) {
    document.getElementById('imagePreview').innerHTML = '<p>Asegurate de subir un video de Youtube</p>';

  }
  else {
      name2 = name2.substring(0, 11);
    $("#videoUpload").val(name);
    document.getElementById('imagePreview').innerHTML = '<iframe src="https://www.youtube.com/embed/'+ name2 +'"></iframe>';
  }
}

</script>
